<h2>Required Tools/Apps/Steps</h2>
<ol>
	<li><u><b>First: Launch Skyrim once from Steam, get to the main menu, then quit</b></u></li><br>
	<li><a href="https://github.com/ModOrganizer2/modorganizer/releases/download/v2.4.4/Mod.Organizer-2.4.4.exe">Mod Organizer 2 (installer download)</a></li>
	Follow guides here to get setup with MO2 for easier installation of all mods.<br>
	Make sure to connect your NexusMods account with Mod Organizer 2 when it asks so that clicking mod download links automatically sends them to MO2.
	<ol>
		<li><a href="https://wiki.tiltedphoques.com/tilted-online/guides/client-setup/using-modorganizer2-mo2/installing-modorganizer2/installating-the-mod-manager">Installing Mod Organizer 2</a></li>
		<li><a href="https://wiki.tiltedphoques.com/tilted-online/guides/client-setup/using-modorganizer2-mo2/installing-modorganizer2/initial-mo2-setup">Initial Mod Organizer 2 setup</a></li>
		<li><a href="https://wiki.tiltedphoques.com/tilted-online/guides/client-setup/using-modorganizer2-mo2/installing-modorganizer2/creating-a-mo2-profile">(optional) Create new profile unique to our modlist</a></li>
	</ol>
	<br>
	 
	<li><a href="https://skse.silverlock.org/beta/skse64_2_01_05.7z">SKSE64 (Skyrim Script Extender)</a></li>
	<ol>
		<li>Download with link above & extract.</li>
		<li>Copy or move everything <b><u>except</u></b> the "Data" folder to the Skyrim game installation folder (steam directory)</li>
		<li>Drag the "Data" folder into Mod Organizer 2 below the DLCs and Creation Club listings. You will be prompted to import it as a new mod. Name it "SKSE64 Data".</li>
	</ol>
	<br>
	<li><a href="https://www.nexusmods.com/skyrimspecialedition/mods/1918?tab=files&file_id=285497">LOOT</a>: for optimizing load order and reducing errors</li>
	<ol>
		<li>Download and install LOOT.</li>
		<li>In Mod Organizer 2, press Ctrl+E or go to Tools->Executables.</li>
		<li>Click the +, select "Add from file..", and then locate LOOT's .exe file. (default install location is C:\Program Files\LOOT\LOOT.exe)</li>
	</ol>
	<br>
	<li><b>Skip step 6 below for now and download and install all the mods</b> below the line!</li>(and come back to step 6 after all mods are installed)
	<br><a href="https://wiki.tiltedphoques.com/tilted-online/guides/client-setup/using-modorganizer2-mo2/utilities/address-library-for-skse">This guide</a> shows how easy it is to download + install a mod with Mod organizer 2 setup, using the first mod in the modlist as an example.
	<br><br>
	<li><a href="https://download.zerotier.com/dist/ZeroTier%20One.msi">ZeroTier (download)</a>: for connecting to network to play on server, last step! (do this <b>after everything above + after downloading and installing the mods below</b>)</li>
	<ul>
		<li><a href="
https://wiki.tiltedphoques.com/tilted-online/guides/server-guide/windows-setup/zerotier-setup/connecting-to-your-server">How to connect to the Skyrim Together Reborn server</a> <-- follow this, ask pup for Network ID and server IP!</li>
<b>That's about it! :D :3</b> *note that you will need to run LOOT once within MO2 to optimize sort order before playing, see pup for details<br>
	</ul>
</ol>
<hr>
<h2>Current Modlist (direct download links; click after setting up Mod Organizer 2 above</h2>
<ul>
<li><a href="https://www.nexusmods.com/skyrimspecialedition/mods/32444?tab=files&file_id=254423&nmm=1">Address Library for SKSE</a></li>
<li><a href="https://www.nexusmods.com/Core/Libs/Common/Widgets/ModRequirementsPopUp?id=299167&game_id=1704&nmm=1">Skyrim Together Reborn</a></li>
<li><a href="https://www.afkmods.com/index.php?/files/file/1905-open-cities-skyrim/&do=download">Open Cities</a></li>
<li><a href="https://www.nexusmods.com/skyrimspecialedition/mods/266?tab=files&file_id=292193&nmm=1">Unofficial Skyrim Special Edition Patch </a></li>
<li><a href="https://www.nexusmods.com/Core/Libs/Common/Widgets/ModRequirementsPopUp?id=35407&game_id=1704&nmm=1">SkyUI </a></li>
<li><a href="https://www.nexusmods.com/skyrimspecialedition/mods/659?tab=files&file_id=59069&nmm=1">Static Mesh Improvement Mod </a></li>
<li><a href="https://www.nexusmods.com/Core/Libs/Common/Widgets/ModRequirementsPopUp?id=114287&game_id=1704&nmm=1">FileAccess Interface </a></li>
<li><a href="https://www.nexusmods.com/skyrimspecialedition/mods/9312?tab=files&file_id=155883&nmm=1">Tainted Blood of the Dragonborn </a></li>
<li><a href="https://www.nexusmods.com/Core/Libs/Common/Widgets/ModRequirementsPopUp?id=43572&game_id=1704&nmm=1">A Matter of Time </a></li>
<li><a href="https://www.nexusmods.com/skyrimspecialedition/mods/5804?tab=files&file_id=13792&nmm=1">A Quality World Map </a></li>
<li><a href="https://www.nexusmods.com/skyrimspecialedition/mods/19080?tab=files&file_id=296729&nmm=1">RaceMenu </a></li>
<li><a href="https://www.nexusmods.com/skyrim/mods/33603?tab=files&file_id=1000019046&nmm=1">Roadsigns Redone </a></li>
<li><a href="https://www.nexusmods.com/skyrimspecialedition/mods/352?tab=files&file_id=116304&nmm=1">Point the Way </a></li>
<li><a href="https://www.nexusmods.com/skyrimspecialedition/mods/272?tab=files&file_id=175926&nmm=1">Alternate Start - Live Another Life </a></li>
<li><a href="https://www.nexusmods.com/Core/Libs/Common/Widgets/ModRequirementsPopUp?id=73990&game_id=1704&nmm=1">Enhanced Lighting </a></li>
<li><a href="https://www.nexusmods.com/Core/Libs/Common/Widgets/ModRequirementsPopUp?id=245427&game_id=1704&nmm=1">Cutting Room Floor </a></li>
<li><a href="https://www.nexusmods.com/skyrimspecialedition/mods/1104?tab=files&file_id=215116&nmm=1">SKYTEST Realistic Animals</a></li> 
<li><a href="https://www.nexusmods.com/skyrimspecialedition/mods/1296?tab=files&file_id=2144&nmm=1">Unread Books Glow </a></li>
<li><a href="https://www.nexusmods.com/skyrimspecialedition/mods/46898?tab=files&file_id=191125&nmm=1">Wear Multiple Rings </a></li>
<li><a href="https://www.nexusmods.com/skyrimspecialedition/mods/1090?tab=files&file_id=40668&nmm=1">Apocalypse - Magic of Skyrim </a></li>
<li><a href="https://www.nexusmods.com/skyrimspecialedition/mods/1737?tab=files&file_id=12305&nmm=1">Hold Border Banners</a></li>
<li><a href="https://www.nexusmods.com/Core/Libs/Common/Widgets/ModRequirementsPopUp?id=290072&game_id=1704&nmm=1">Relics of Hyrule SE</a></li>
<li><a href="https://www.nexusmods.com/Core/Libs/Common/Widgets/ModRequirementsPopUp?id=295745&game_id=1704&nmm=1">Relics of Hyrule Hotfix 6.6.2.2</a></li>
<li><a href="https://www.nexusmods.com/skyrimspecialedition/mods/1772?tab=files&file_id=29328&nmm=1">Rich Skyrim Merchants</a></li> 
<li><a href="https://www.nexusmods.com/skyrimspecialedition/mods/5870?tab=files&file_id=254650&nmm=1">Ruins Clutter Improved </a></li>
<li><a href="https://www.nexusmods.com/skyrimspecialedition/mods/2472?tab=files&file_id=108837&nmm=1">True Storms Special Edition </a></li>
<li><a href="https://www.nexusmods.com/skyrimspecialedition/mods/173?tab=files&file_id=292849&nmm=1">Immersive Citizens - AI Overhaul </a></li>
<li><a href="https://www.nexusmods.com/skyrimspecialedition/mods/2187?tab=files&file_id=94387&nmm=1">Vivid Weathers </a></li>
<li><a href="https://www.nexusmods.com/skyrimspecialedition/mods/2154?tab=files&file_id=124912&nmm=1">Skyrim Flora Overhaul SE </a></li>
<li><a href="https://www.nexusmods.com/Core/Libs/Common/Widgets/ModRequirementsPopUp?id=241537&game_id=1704&nmm=1">Achievement Mods Enabler </a></li>
<li><a href="https://www.nexusmods.com/Core/Libs/Common/Widgets/ModRequirementsPopUp?id=227169&game_id=1704&nmm=1">Skyrim Immersive Creatures </a></li>
<li><a href="https://www.nexusmods.com/skyrimspecialedition/mods/55653?tab=files&file_id=228648&nmm=1">Nether's Follower Framework </a></li>
<li><a href="https://www.nexusmods.com/skyrimspecialedition/mods/644?tab=files&file_id=163052&nmm=1">Wet and Cold SSE </a></li>
<li><a href="https://www.nexusmods.com/skyrimspecialedition/mods/901?tab=files&file_id=40352&nmm=1">Book Covers Skyrim </a></li>
<li><a href="https://www.nexusmods.com/skyrimspecialedition/mods/6369?tab=files&file_id=18422&nmm=1">Cloaks of Skyrim SSE</a></li> 
<li><a href="https://www.nexusmods.com/skyrimspecialedition/mods/30817?tab=files&file_id=275523&nmm=1">Lanterns Of Skyrim II </a></li>
<li><a href="https://www.nexusmods.com/skyrimspecialedition/mods/30481?tab=files&file_id=272289&nmm=1">WiZkiD Signs </a></li>
<li><a href="https://www.nexusmods.com/skyrimspecialedition/mods/70400?tab=files&file_id=294653&nmm=1">Master Spells Runes </a></li>
<li><a href="https://www.nexusmods.com/skyrimspecialedition/mods/2640?tab=files&file_id=8714&nmm=1">Skyrim Better Roads </a></li>
<li><a href="https://www.nexusmods.com/skyrimspecialedition/mods/4155?tab=files&file_id=7713&nmm=1">Clockwork </a></li>
<li><a href="https://www.nexusmods.com/skyrimspecialedition/mods/17355?tab=files&file_id=54896&nmm=1">Ebongrove </a></li>
<li><a href="https://www.nexusmods.com/skyrimspecialedition/mods/6285?tab=files&file_id=49264&nmm=1">Summermyst </a></li>
<li><a href="https://www.nexusmods.com/skyrimspecialedition/mods/2809?tab=files&file_id=4168&nmm=1">Haven Bag </a></li>
</ul>